html, body 
{
    width: 100%;
    height: 100%;
}
.letras-nav
{
    color:#e9ecf3;
}
.propiedades-navbar{
    min-height: 4rem;
    background-color: #284997;
}
.frontpageimage {
    display: flex; 
    justify-content: center;
}
h3{
    color: #fbfdff;
    background-color: #284997;
}
h5 {
    color: #fbfdff;
    background-color: #284997;
    text-decoration: underline;
}
.headline {
    z-index: 1;
    background-color: white;
    position: relative;
}